<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    you are welcome to reach me at <a href="mailto:hugomejia74@gmail.com?subject=Attention - Hmejia-Flixter team">hugomejia74@gmail.com</a> if you would like to contribute directly to this project.
  </p>
</div>